<%= form_for @query, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field span6' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sql, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :sql, :class => 'text_field span6', :rows => 15, :placeholder => "SQL" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :plan, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :plan, :class => 'text_field span6', :rows => 5, :placeholder => "JSON query plan" %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                queries_path, :class => 'btn', :title => 'Cancel' %>
    <%- unless @query.new_record? %>
      <%= link_to icon_and_text('clone','leaf'),
                clone_query_path(id: @query.id), :class => 'btn', :title => 'Clone' %>
      <%= link_to icon_and_text('destroy','fire'),
                  query_path(@query),
                  :method => :delete,
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-danger', :title => 'Delete' %>
    <% end %>
  </div>
<% end %>
