<%- model_class = Query -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:plan_summary) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @queries.each do |query| %>
      <tr>
        <td><%= link_to query.name, query_path(query) %></td>
        <td><%= link_to query.plan_summary, query_path(query) %></td>
        <td>
          <%= link_to icon_and_text('edit'),
                      edit_query_path(query), :class => 'btn btn-mini' %>
          <%= link_to icon_and_text('destroy','trash'),
                      query_path(query),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to icon_and_text('new','plus'),
            new_query_path,
            :class => 'btn btn-primary' %>
