<div class="page-header">
  <ol class="breadcrumb">
    <li class="active"><%=t '.title', :default => 'query' %></li>
    <li><%= link_to icon_and_text('new','leaf'),
            new_query_path,
            :class => 'btn btn-mini btn-primary' %></li>
  </ol>
</div>
<%= form_for(Query.new, url: compare_queries_path) do |f| %>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= f.submit 'diff', :class => 'btn btn-primary btn-mini' %></th>
      <th><%= Query.human_attribute_name(:name) %></th>
      <th><%= Query.human_attribute_name(:plan_summary) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @queries.each do |query| %>
      <tr>
        <td><%= check_box_tag 'id[]', query.id, false, id: "compare-id-#{query.id}"%></td>
        <td><%= link_to query.name, query_path(query) %></td>
        <td><%= link_to query.plan_summary, query_path(query) %></td>
        <td>
          <%= link_to icon('edit'),
                      edit_query_path(query), :class => 'btn btn-mini', :title => 'Edit' %>
          <%= link_to icon('leaf'),
                      clone_query_path(id: query.id), :class => 'btn btn-mini', :title => 'Clone' %>
          <%= link_to icon('fire'),
                      query_path(query),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger', :title => 'Delete' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
