<div class="page-header">
  <h1><%=t '.title', :default => Query.model_name.human.titleize %></h1>
</div>

<p>
  <%= link_to icon_and_text('back', 'arrow-left'),
              queries_path, :class => 'btn'  %>
  <%= @query.name %>
  <%= link_to icon_and_text('edit'),
              edit_query_path(@query), :class => 'btn' %>
</p>
<p><%= @query.comment%></p>

<%#= @query.sql %>
<%= render @query.query_plan %>
